* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #DDD;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: transparent; /* Optional: just make scrollbar invisible */
    width: 0; /* Remove scrollbar space */
}

body {
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.bg {
    background-size: cover;
    content: "";
    display: block;
    height: 105vh;
    left: -0.5rem;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: -0.5rem;
    width: 105vw;
    z-index: -1;
}

.bg-anime {
    animation: anim-bg-blur-shift 5s ease infinite;
    background-image: url("anime_wallpaper.jpg");
}

.bg-black-50 {
    background-color: rgba(35, 35, 35, 0.5)
}

.bg-container {
    position: relative;
}

.bg-gradient {
    animation: anim-bg-gradient 5s ease infinite;
    background-image: linear-gradient(-45deg, #440011DD, #110044DD);
    background-size: 400% 400%;
    filter: blur(10px);
}

.bg-site-1 {
    background-color: #FFFA;
}

.bg-site-2 {
    background-color: #EEEA;
}

.blink {
    animation: anim-blink 1s infinite;
}

.f-align-start {
    align-items: start !important;
}

.f-basis-0 {
    flex-basis: 0;
}

.f-center {
    justify-content: center;
}

.f-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.f-end {
    justify-content: end;
}

.f-grow {
    flex-grow: 1;
}

.f-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.f-space-between {
    justify-content: space-between;
}

.f-space-evenly {
    justify-content: space-evenly;
}

.f-start {
    justify-content: flex-start;
}

.f-wrap {
    flex-wrap: wrap;
}

.glitch {
    animation: anim-glitch 3s step-start infinite;
}

.glitch-invert {
    animation: anim-glitch-invert 3s step-start infinite;
}

.h-50 {
    height: 50%;
}

.h-100 {
    height: 100%;
}

.h-min-100vh {
    min-height: 100vh;
}

.hover-red {
    transition: 0.5s;
}

.hover-red:hover {
    color: #EE6666;
}

.hover-blue, .hover-blue * {
    transition: 0.5s;
}

.hover-blue:hover, .hover-blue *:hover {
    color: #6699EE !important;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 0.25em;
}

.m-2 {
    margin: 0.5em;
}

.mx-4 {
    margin-left: 1em;
    margin-right: 1em;
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0;
}

.my-1 {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.my-2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

nav.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 4vw;
    justify-content: space-evenly;
    overflow: visible;
    width: 100%;
}

nav.navbar a {
    align-items: center;
    color: #BBB8;
    font-size: 1.5vw;
    font-weight: 500;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    transition: 0.5s;
}

nav.navbar a:hover {
    color: #F33;
    font-size: 2vw;
    font-weight: 900;
}

nav.navbar a.active {
    color: #EEE;
/*    font-size: 2vw; */
    font-weight: 900;
}

nav.navbar a.active:hover {
    color: #F33;
}

nav.navbar > div.lhs {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: flex-end;
    overflow-x: hidden;
}

nav.navbar > div.rhs {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: hidden;
}

.p-0 {
    padding: 0;
}

.p-1 {
    margin: 0.25em;
}

.p-2 {
    margin: 0.5em;
}

.pb-2 {
    margin-bottom: 0.5em;
}

.pb-4 {
    margin-bottom: 1em;
}

.pt-4 {
    margin-top: 1em;
}

.pt-6 {
    margin-top: 2em;
}

.py-1 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.py-2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.pre {
    white-space: pre;
}

.section {
    height: 100%;
    padding: 20vh 10vh 15vh;
}

.subsubtitle {
    align-items: center;
    color: #333A;
    font-size: 1vw;
    font-weight: 500;
}

.subtitle {
    align-items: center;
    color: #333;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0.05vw 0.05vw black;
}

nav.sticky {
    animation: anim-nav-gradient-bg 5s ease infinite;
    position: fixed;
    top: 0;
}

nav.sticky + * {
    padding-top: 4vw;
}

table {
    border: 0;
}

.text-fa, .text-fa * {
    font-family: FontAwesome, 'Roboto Mono', monospace !important;
}

.text-black, .text-black * {
    color: #333
}

.text-bold, .text-bold * {
    font-weight: bold;
}

.text-bold-ultra, .text-bold-ultra * {
    font-weight: 900;
}

.text-blue, .text-blue * {
    color: #68E;
}

.text-center {
    text-align: center;
}

.text-dark-red, .text-dark-red * {
    color: #F33;
}

.text-gold, .text-gold * {
    color: #E93;
}

.text-dark-green, .text-dark-green * {
    color: #5B5;
}

.text-green, .text-green * {
    color: #5F5;
}

.text-justify {
    text-align: justify;
}

.text-mono, .text-mono * {
    font-family: 'Roboto Mono', monospace;
}

.text-red, .text-red * {
    color: #E66;
}

.text-sans, .text-sans * {
    font-family: 'Open Sans', sans-serif;
}

.text-serif, .text-serif * {
    font-family: 'Playfair Display', serif;
}

.text-size-1-5vw, .text-size-1-5vw * {
    font-size: 1.5vw;
}

.text-size-2vw, .text-size-2vw * {
    font-size: 2vw;
}

.text-size-2-5vw, .text-size-2-5vw * {
    font-size: 2.5vw;
}

.text-size-3vw, .text-size-3vw * {
    font-size: 3vw;
}

.text-size-4vw, .text-size-4vw * {
    font-size: 4vw;
}

.text-size-p, .text-size-p * {
    font-size: calc(0.75vw + 0.5rem);
}

.text-size-x1-5, .text-size-x1-5 * {
    font-size: 150%;
}

.text-size-x2, .text-size-x2 * {
    font-size: 200%;
}

.text-white, .text-white * {
    color: #DDD
}

.text-yellow, .text-yellow * {
    color: #DB3;
}

.text-underline, .text-underline * {
    text-decoration: underline;
}

a.title {
    align-items: center;
    color: #333;
    font-size: 2.5vw;
    font-weight: 900;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
    transition: 0.5s;
}

a.title:hover {
    color: #C33;
}

.w-33 {
    width: 33%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-67 {
    width: 67%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul.ul-no-bullet {
    list-style-type: none;
}

@keyframes anim-bg-gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes anim-bg-blur-shift {
    0% {
        filter: blur(10px)
    }
    50% {
        filter: blur(4px)
    }
    100% {
        filter: blur(10px)
    }
}

@keyframes anim-blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim-fade-in {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes anim-glitch {
    70% {
        transform: none;
        filter: none;
    }
    72% {
        transform: none;
        filter: invert(1);
    }
    73% {
        transform: translateX(5vw) scale(1.25, 0.8);
        filter: invert(1);
    }
    74% {
        transform: translateX(-10vw) translateY(-5vh) skew(5deg, -5deg) scale(1.5, 0.6);
        filter: invert(1);
    }
    75% {
        transform: translateX(5vw) translateY(2.5vh) scale(1.25, 0.8);
        filter: invert(1);
    }
    76% {
        transform: none;
        filter: none;
    }
}

@keyframes anim-nav-gradient-bg {
    0% {
        background-color: #104D;
    }
    50% {
        background-color: #401D;
    }
    100% {
        background-color: #104D;
    }
}